<div  class="col-xs-6 col-sm-3">
        <div style="min-height:300px" class="panel panel-success">
                <div class="panel-body">
                        <b>Preço R$:</b>
                        <div class="color-text-dash">
                        {% for enrollment in enrollments %}
                        {% if enrollment.course.price == 0 %}
                        <br>
                                FREE
                        {% else %}
                        <br>
                        <br>
                               R$ {{ enrollment.course.price }}<br>
                        {% endif %}
                        {% endfor %}
                </div>

                        <br /><br /><br /><br />
                </div>
        </div>
</div>
