
<div  class="col-xs-6 col-sm-3">
    <div style="min-height:300px"  class="panel panel-primary">
        <div class="panel-body">
            <b>Cursos:</b>
            <div class="color-text-dash">
            {% for enrollment in enrollments %}
                <br>
            <a class="color-text-dash" href="{% url 'announcements' enrollment.course.name %}">
                      <img width="25" src="{{ enrollment.course.image.url  }}" />
                      {{ enrollment.course}}
            </a>

            <a  style="margin-right: 10%" href="{% url 'announcements' enrollment.course.name %}">
             <i style="background-position-x: right; font-size:18px" alt="anuncios" class="material-icons">announcement</i>
            </a>

            <a  style="margin-right: 10%" href="{% url 'video_classes' enrollment.course.name %}">
                <i style="font-size:18px" alt="videos" class="material-icons">video_library</i>
            </a>
                   <br>
              {% endfor %}
            </div>

            <br /><br /><br /><br />
        </div>
    </div>
</div>
