<div class="col-xs-6 col-sm-3">
        <div class="panel panel-success">
                <div class="panel-body">
                        <b>Preço R$:</b>
                        {% for enrollment in enrollments %}
                        {% if enrollment.course.price == 0 %}
                                <h3>FREE</h3>
                        {% else %}
                                <h3>{{ enrollment.course.price }}</h3>
                        {% endif %}
                        {% endfor %}

                        <br /><br /><br /><br />
                </div>
        </div>
</div>