{% extends 'base.html' %}
{% block content %}
<div class="content">
   <div class="pure-g-r content-ribbon">
      <div class="pure-u-1">
         <section class="main">
         <section class="tab-content">
            <section class="tab-pane active fade in content" id="dashboard">
               <ul>
                  <li>
                     {% block breadcrumb %}
                     <a href="{% url 'home' %}">INICIO</a>
                     <a href="{% url 'forum' %}"> / FÓRUM</a>
                     {% endblock %}
                  </li>
               </ul>
               {% block thread_content %}
               {% endblock %}
               <div class="col-xs-6 col-sm-4">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        TÓPICOS
                     </div>
                     <div class="panel-body">
                        <a href="?order=">  <i style="font-size:15px;" class="material-icons">update</i>  Mais Recentes <br><br></a>
                        <a href="?order=views"><i style="font-size:15px;" class="material-icons">visibility</i>    Mais Visualizados <br><br></a>
                        <a href="?order=answers"><i style="font-size:15px;" class="material-icons">insert_comment</i>  Mais Comentados <br><br></a>
                     </div>
                     <div class="panel-heading">
                        TAGS
                     </div>
                     <div class="panel-body">
                        {% for tag in tags %}
                        <a  href="{% url 'index_tagged' tag.name %}"><i style="font-size:15px;" class="material-icons">label</i> {{tag | capfirst}}<br><br></a>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </section>
         </section>
         <section>
      </div>
      <ul class="pagination">
         {% if page_obj.has_previous %}
         <li><a href="?page={{page_obj.previous_page_number}}{% if request.GET.order %}&order={{request.GET.order}}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
         {% endif %}
         {% for page in paginator.page_range %}
         <li {% if page == page_obj.number %} class="active"{% endif %}><a href="?page={{ page}}{% if request.GET.order %}&order={{request.GET.order}}{% endif %}">{{page  }}</a></li>
         {% endfor %}
         {% if page_obj.has_next %}
         <li ><a href="?page={{page_obj.next_page_number}}{% if request.GET.order %}&order={{request.GET.order}}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
         {% endif %}
      </ul>
   </div>
</div>
{% endblock %}