{% extends 'forum_base.html' %}
{% block thread_content %}
{% for thread in object_list %}
<div class="col-xs-6 col-sm-8">
   <div class="panel panel-default">
      <div class="panel-heading">
       <a href="{{thread.get_absolute_url}}">  <strong>{{thread.title | capfirst}}</strong></a>
      </div>
      <div class="panel-body">
         <!-- <h5><strong>{{announcement.title}}</strong></h5> -->
         <h4>{{thread.body |truncatewords:'50' | capfirst}}</h4>
         <a href="{% url 'details' thread.pk %}">leia mais </a></p><br>
         <strong>
            <i  style="font-weight:100">Criado por {{thread.author}} | {{thread.answers}} Resposta{{thread.answers|pluralize}} | {{thread.views}} Visualizaç{{ thread.views | pluralize:"ão,ões" }} </i>
            <p>
               <a href="">
               <i style="margin-top:15px;  font-size:18px" class="material-icons">label</i>
               </a>
         </strong>
         <i>Tags:</i>
         {% for tag in thread.tags.all %}
         <i><a href="{% url 'index_tagged' tag.name %}">{{tag | capfirst}}</a></i>{% if not forloop.last %},{% endif %}
         {% endfor %}
         <a style="text-decoration:none;cursor:unset;margin-left:40%">Atualizado a {{thread.update_at|timesince}} atrás</a>
         </p>
      </div>
   </div>
</div>
{% empty %}
<div class="col-xs-6 col-sm-8">
   <div class="panel panel-default">
      <div class="panel-body">
         <p>Nenhuma duvida ainda!</p>
      </div>
   </div>
</div>
{% endfor %}
{% endblock %}