{% extends "base.html"  %}

{%  block content  %}

    <div class="content">
            <div class="splash">
                    <div class="pure-g-r">
                        <div class="pure-u-1">
                            <div class="l-box splash-text">
                                <h1 class="splash-head">
                                   ENTRE EM CONTATO
                                </h1>
                                <h2 class="splash-subhead">
                                    O Plataform EAD visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.
                                </h2>
                                <p>
                                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

    {% endblock %}
