* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
a{
    text-decoration:none; 
}
.content .content-ribbon {
    margin: 4em;
    margin-left: 2em;
    border-bottom: 1px solid #eee;
    display: block;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.header .nome-usuario{
    color: red;
    margin-left: 350%;
}

.title-course{
    font-weight: 600;
    font-size: 20px;
    color: #505763;
    margin: 0 0 0px;
}

.content-ribbon .container-course{
    text-align: center;   
    width: 300px;
    height: 300px;
    -webkit-border-radius: 2px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius: 2px;
    -moz-border-radius-topleft: 10px;
    border-radius: 2px;
    border-top-left-radius: 10px;margin-bottom:3rem;
    border: 1px solid #cccccc;
    margin-left: 5em;
    padding: 18px;
    float: left;
}

.content-subhead-course{
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
    margin: 0;
    margin-top:160px;

} 
a:visited{
    color:transparent;
}

a.content-subhead-course-author{
    color: #666;
    font-size: 0.6rem;
}