{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="title-course">O que aprender hoje?</h4>
        </div>
    </div>
</div>

{% for course in courses %}

<div class="container-course">
        <div>
            <a href="{{ course.get_absolute_url }}">
            {% if  course.image %}
                <img width="150" style="  min-width: 150px;  max-width: 150px;" src="{{course.image.url }}" alt="" />
            {% else %}
                <img width="192" src="{% static 'preview/sem_img.png' %}" alt="" />
            {% endif %}
            </a>
        </div>
        <div class="pure-u">
            <div class="l-box">
                <p class="content-subhead-course"><a href="{{ course.get_absolute_url }}" title="">{{course.name}}</a></p>
                <a class="content-subhead-course-author" href="" title="">{{course.author}} - {{course.created_at}}</a>          
            </div>
        </div>

        <div class="pure-u">
            <div class="l-box">
                <a href="{% url 'enrollment' course.slug %}">
                <button class="btn waves-effect waves-light" type="submit" name="action">Inscrever-se
                    <i class="material-icons right">send</i>
                  </button>
                </a>
            </div>
        </div>
    
</div>

{% empty %}

<div class="">
        <div class="pure-u-1">
            <div class="l-box">
                <p>Nenhum curso está disponível na plataforma</p>
            </div>
        </div>
</div>

{% endfor %}


<div class="">
    <div class="pure-u-1">
        <div class="l-box">
        </div>
    </div>
</div>
{% endblock %}
