{% extends "base.html" %}

{% block content %}

{% load static %}

    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="title-course">O que aprender hoje?</h4>
        </div>
    </div>

{% for course in courses %}

<div style="  text-align: center;" class="container-course">
        <div class="image-preview-course">
            <a href="{{ course.get_absolute_url }}">
            {% if  course.image %}
                <img  src="{{course.image.url }}" alt="" />
            {% else %}
                <img width="192" src="{% static 'preview/sem_img.png' %}" alt="" />
            {% endif %}
            </a>
        </div>
    <div class="pure-u">
        <div class="l-box">
            <p class="content-subhead-course"><a href="{{ course.get_absolute_url }}" title="">{{course.name}}</a></p>
            <a class="content-subhead-course-author" href="" >{{course.author}} - {{course.created_at | timesince}}</a>
           <a href="{% url 'enrollments' course.name %}"><button class="btnInscreva-se btn waves-effect waves-light" type="submit" name="action">INSCREVA-SE
                <i class="material-icons right">send</i>
              </button>
            </a>

        </div>
    </div>

</div>

{% empty %}

<div class="">
        <div class="pure-u-1">
            <div class="l-box">
                <p>Nenhum curso está disponível na plataforma</p>
            </div>
        </div>
</div>

{% endfor %}


<div class="">
    <div class="pure-u-1">
        <div class="l-box">
        </div>
    </div>
</div>
{% endblock %}
