{% extends "dashboard/dashboard.html" %}

{% block breadcrumb %}
  {{ block.super }}
  / AULAS / {{course.name | upper }}
{% endblock %}

{% block dashboard_content %}

{% for lesson in lessons %}

<div class="panel panel-default">

        <div class="panel-heading">
           <strong>{{lesson}}</strong>
        </div>
  <div class="panel-body">
      <p>{{lesson.description}}  <a href="{% url 'lesson' course.name lesson.pk %}">Acessar Aula</a></p>

  </div>


</div>

{% empty %}

<div class="panel panel-default">

    <div class="panel-heading">
       <strong>Videos-Aulas</strong>
    </div>
<div class="panel-body">
    Nenhuma aula disponivel
</div>


</div>

{% endfor %}

{% endblock %}
