{% extends 'base.html' %}

{% load courses_tags %}
{% block content %}
<div class="content">
                  <div class="pure-g-r content-ribbon">
                     <div class="pure-u">
                        <section class="main">
                           <section class="tab-content">
                              <section class="tab-pane active fade in content" id="dashboard">
                                  <ul>
                                     <li>
                                        {% block breadcrumb %}
                                        <a href="{% url 'dashboard' %}">MEU PERFIL</a>
                                        {% endblock %}
                                     </li>
                                  </ul>

                                 <div  style="box-sizing:border-box">

                                    {% my_courses user %}
                                    {% my_courses_price user %}
                                    {% my_courses_date_buy user %}

                                    <div class="col-xs-6 col-sm-3">
                                       <div class="panel panel-warning">
                                          <div  style="min-height:300px" id="dash-panel" class="panel-body">
                                             <b>Super Usário:</b>
                                             {% if  user.is_superuser %}
                                             <h4 class="color-text-dash">Sim</h4>
                                             {% else %}
                                             <h3>Não</h3>
                                             {% endif %}
                                             <br /><br /><br /><br />
                                          </div>
                                       </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                          {% block dashboard_content %}


                                           {% endblock %}
                                    </div>

                                    <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-default">
                                           {% block editDashboard %}
                                           <div class="panel-heading">
                                              DADOS <a href="{% url 'edit'  %}" style="margin-left: 65%;">Editar</a>
                                           </div>
                                           <div class="panel-body">
                                             {% my_personal_data user %}
                                           </div>
                                           {% endblock %}
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4">
                                          {% block announcements %}

                                          {% endblock %}
                                    </div>

                                 </div>

                              </section>
                           </section>
                        <section>
                     </div>
                  </div>
</div>
{% endblock %}
