{% extends 'base.html' %}

{% load courses_tags %}


{% block content %}
<div class="content">
                <div class="pure-g-r content-ribbon">
                   <div class="pure-g-r content-ribbon">
                      <div class="pure-u">
                         <section class="main">
                            <section class="tab-content">
                               <section class="tab-pane active fade in content" id="dashboard">
                                  <ul>
                                     <li>
                                        {% block breadcrumb %}
                                        <a href="{% url 'dashboard' %}">MEU PERFIL</a>
                                        {% endblock %}
                                     </li>
                                  </ul>
                                  <div class="row">
                                     {% my_courses user %}
                                     {% my_courses_price user %}
                                     {% my_courses_date_buy user %}
                                     <div class="col-xs-6 col-sm-3">
                                        <div class="panel panel-warning">
                                           <div class="panel-body">
                                              <b>Super Usário:</b>
                                              {% if  user.is_superuser %}
                                              <h3>Sim</h3>
                                              {% else %}
                                              <h3>Não</h3>
                                              {% endif %}
                                              <br /><br /><br /><br />
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-xs-12 col-sm-8">
                                        <div class="panel panel-default">
                                           <div class="panel-heading">
                                              Descricao
                                           </div>
                                           <div class="panel-body">
                                              {% block dashboard_content %}
                                              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                              {% endblock %}
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-xs-12 col-sm-4">
                                        <div class="panel panel-default">
                                           {% block editDashboard %}
                                           <div class="panel-heading">
                                              DADOS <a href="{% url 'edit'  %}" style="margin-left: 70%;">edit</a>
                                           </div>
                                           <div class="panel-body">
                                             {% my_personal_data user %}
                                           </div>
                                           {% endblock %}
                                        </div>
                                        <div class="panel panel-default">
                                           <div class="panel-heading">
                                              Kaitani Labs
                                           </div>
                                           <div class="panel-body">
                                              Designed by <a
                                                 href="http://www.kaitanilabs.com"
                                                 target="_blank">Kaitani
                                              Labs</a></a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </section>
                               <section class="tab-pane fade" id="configuration">
                                  <nav class="subbar">
                                     <ul class="nav nav-tabs">
                                        <li class="active"><a href="#access"
                                           data-toggle="tab"><i
                                           class="fa fa-code"></i>
                                           <span>System</span></a>
                                        </li>
                                        <li><a href="#roles" data-toggle="tab"><i
                                           class="fa fa-user"></i>
                                           <span>Roles</span></a>
                                        </li>
                                     </ul>
                                  </nav>
                                  <section class="tab-content content">
                                     <section class="tab-pane active fade in" id="access">
                                        <div class="row">
                                           <div class="col-xs-12">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-xs-12 col-sm-4">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-xs-12 col-sm-4">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-xs-12 col-sm-4">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </section>
                                     <section class="tab-pane fade" id="roles">
                                        <div class="row">
                                           <div
                                              class="col-xs-12 col-sm-8 col-md-9">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                           <div
                                              class="hidden-xs col-sm-4 col-md-3">
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br />
                                                 </div>
                                              </div>
                                              <div
                                                 class="panel panel-default">
                                                 <div
                                                    class="panel-heading">
                                                    Something
                                                 </div>
                                                 <div class="panel-body">
                                                    <br /><br /><br />
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </section>
                                  </section>
                               </section>
                               <section class="tab-pane fade" id="users">
                               </section>
                               <section class="tab-pane fade" id="mail">
                               </section>
                            </section>
                         </section>
                         </article>
                      </div>
                   </div>
                </div>
             </div>
{% endblock %}