{% extends   'dashboard/dashboard.html' %}

{% block breadcrumb %}
{{ block.super  }}
<a href=""> / EDITAR</a>
{% endblock %}

{% block editDashboard %}
<div class="panel-heading">
DADOS <a href="{% url 'dashboard'  %}" style="margin-left: 60%;">Cancelar</a>
</div>
<div class="panel-body">

<form method="post">

{% csrf_token %}
{{ form.non_field_errors }}

<ul>
<li>
<div class="input-field">
<input id="id_username" name="username" value="{{user}}" type="text" class="validate">
<label  style="color:#666;font-size: 13px;font-weight: 100" for="id_username">Nome Usuário</label>
</div>
</li>
<div style="color:red">{{ form.username.errors }}</div>


<li>
<div class="input-field">
<input id="id_email" name="email" value="{{user.email}}" type="email" class="validate">
<label  style="color:#666;font-size: 13px;font-weight: 100" for="id_email">Email</label>
<div style="color:red">{{ form.email.errors }}</div>
</div>
</li>

<li>
<div class="input-field">
<input id="id_name" name="name" value="{{user.name}}" type="text" class="validate"/>
<label  style="color:#666;font-size: 13px;font-weight: 100" for="id_name">Nome Completo</label>
<div style="color:red">{{ form.name.errors }}</div>
</div>

</li>


<li>
<div class="input-field">
<input id="id_old_password" name="old_password" value="{{user.old_password}}" type="password" class="validate"/>
<label style="color: #666;font-size: 13px;font-weight: 100" for="id_old_password">Senha Antiga</label>
<div style="color:red">{{ form.old_password.errors }}</div>
</div>
</li>


<li>
<div class="input-field">
<input id="id_new_password1" name="new_password1" value="{{user.new_password1}}" type="password" class="validate"/>
<label  style="color:#666;font-size: 13px;font-weight: 100" for="id_new_password1">Nova Senha</label>
<div style="color:red">{{ form.new_password1.errors }}</div>
</div>
</li>

<li>
<div class="input-field">
<input id="id_new_password2" name="new_password2" value="{{user.new_password2}}" type="password" class="validate"/>
<label  style="color:#666;font-size: 13px;font-weight: 100" for="id_new_password2">Confirme Nova Senha</label>
<div style="color:red">{{ form.new_password2.errors }}</div>
</div>
</li>

</ul>

<button class="btn waves-effect waves-light" type="submit" name="action">Salvar
<i class="material-icons right">send</i>
</button>
</form>

</div>
{% endblock %}